{% extends "base.html" %}

{% block content %} 


<!--Requester--> 
<div class="container py-5">
	<form method="POST">
		{% csrf_token %}
		<div class="loginfrm">
		<div class="logname">
			<h1>Request Blood</h1>
		</div>
		<div class="row">
		<tr>
			<td>
				<input type="text" placeholder="Fullname" name="fullname" maxlength="100" required id="id_fullname">
			</td>
		</tr>
		</div>
		
				<input type="hidden" value="{{request.user.id}}" name="Rid" required id="id_Rid">
			
		<div class="row">
		<tr>
			<td>
				<input type="number" placeholder="Phone no:" name="phone_no" required id="id_phone_no">
			</td>
		</tr>
		</div>
		<div class="row">
				<select name="is_diabitic" id="id_is_diabitic">
				<option value="">Are you Diabetic </option>
				<br>
				<option value="False">No</option>
				<option value="True">Yes</option>
				</select>
		</div>
		<div class="row">
		<tr>
			<td>
				<input type="text" placeholder="BloodGrp" name="BloodGrp" maxlength="20" required id="id_BloodGrp">
			</td>
		</tr>
		</div>
		<div class="row">
		<tr>
			<td>
				<input type="number" placeholder="Age" name="Age" required id="id_Age">
			</td>
		</tr>
		</div>
		<div class="row">
		<tr>
			<td>
				<input type="text" placeholder="City" name="city" maxlength="50" required id="id_city">
			</td>
		</tr>
		</div>
		<div class="row">
		<tr>
			<td>
				<input type="text" placeholder="State" name="state" maxlength="50" required id="id_state">
			</td>
		</tr>
		</div>
		<div class="row">
				<input type="submit" name="login" value="Request">
		</div>
		</div>
	</form>
	
</div>


{% endblock %}
